
.azure {
  background-color: azure;
}

aside  {
  position: absolute;
  right: 20px;
  font-size: large;
  border: 2px solid black;
  width: 450px;
  top: 120px;
  padding-left: 5px;
}

footer {
  border: 2px solid black;
  padding: 5px;
}

header {
  font-size: large;
  border: 2px solid black;
  margin-bottom: 20px;
  padding-left: 15px;
}

main { 
  border: 2px solid black;
  margin-bottom: 20px;
  width: 40%;
  padding-left: 5px;
}

nav {
  border: 2px solid black;
  margin-bottom: 20px;
  width: 15%;
}

nav ul {

}
nav li {

}