
:root {
  --text-color-initial: green;
  --text-color-final: blue;
}

@keyframes changeTextColor {
  0%{
    color: var(--text-color-initial);
  }
  50%{
    color: var(--text-color-final);
  }
  100%{
    color: var(--text-color-initial);
  }
}

aside h1,
header h1,
main h1 {
  animation-name: changeTextColor;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.azure {
  background-color: azure;
}

.border {
  border: 2px solid black;
}

aside  {
  position: absolute;
  right: 20px;
  font-size: large;
  width: 450px;
  top: 120px;
  padding-left: 5px;
}

footer {
  padding: 5px;
}

header {
  font-size: large;
  margin-bottom: 20px;
  padding-left: 15px;
}

main { 
  margin-bottom: 20px;
  width: 40%;
  padding-left: 5px;
}

nav {
  margin-bottom: 20px;
  width: 15%;
}

nav ul {

}
nav li {

}