
:root {
  --text-color-initial: green;
  --text-color-final: blue;
}

@keyframes changeTextColor {
  0%{
    color: var(--text-color-initial);
  }
  50%{
    color: var(--text-color-final);
  }
  100%{
    color: var(--text-color-initial);
  }
}

aside h1,
header h1,
main h1 {
  animation-name: changeTextColor;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

header,
nav,
main,
aside,
footer {
  width: 100%;
}

header,
footer {
  width: 100%;
}

nav {
  width: 30%;
}

aside {
  width: 60%;
  font-size: 20px;
}

main {
  width: 70%;
}

body {
  font-size: 20px; 
}

.azure {
  background-color: azure;
}

.border {
  border: 2px solid black;
}

aside  {
  position: absolute;
  right: 8px;
  font-size: 20px;
  width: 450px;
  top: 120px;
  padding-left: 5px;
}

footer {
  padding: 5px;
  box-sizing: border-box;
}

header {
  font-size: 20px;
  margin-bottom: 20px;
  padding-left: 15px;
  box-sizing: border-box;
}

main { 
  margin-bottom: 20px;
  width: 40%;
  padding-left: 5px;
  min-width: 160px;
}

nav {
  margin-bottom: 20px;
  width: 15%;
  min-width: 160px;
}

nav ul {

}
nav li {

}

@media only screen and (max-width: 825px) {
  aside {
    position: static; 
    margin-bottom: 20px; 
    width: auto; 
    font-size: 16px;
  }

  nav,
  header,
  footer,
  main {
    font-size: 16px;
  }
}